* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: rgb(244, 218, 245);
    position: relative;
}

.footer {
    width: 100%;
    max-height: 50px;
    background: #c8b0f7;
    position: relative;
    bottom: 0;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.footer-text {
    vertical-align: middle;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
}

.logo {
    margin: 1rem;
    border-radius: 100%;
    max-width: 85px;
    max-height: 85px;
}

.nav-links {
    flex: 1;
    text-align: center;
}

nav {
    background-color: #c8b0f7;
    height: 90px;
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}

nav ul li {
    vertical-align: middle;
    display: inline-block;
    padding: 8px 12px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 8px 8px 8px;
    vertical-align: middle;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

body {
    background-color: rgb(244, 218, 245);
}

.container {
    margin: 20px 40px;
    color: black;
}

.heading {
    font-size: 60px;
    color: black;
}

.heading span {
    font-style: italic;
    font-size: 30px;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #353434;
    border-radius: 1.5rem;
    margin: 2rem;
    transition: transform 0.2s;
    padding: 2rem;
}

.profile-img {
    height: 400px;
    width: 400px;
    border-radius: 100%;
}

.name {
    padding-left: 5.3rem;
    padding-right: 5.3rem;
    padding-top: 1.5rem;
    height: 35px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
}

.profile:hover {
    transform: scale(1.1);
}

.descp {
    font-family: "Mali", cursive;
    font-size: 20px;
    text-align: center;
}