html {
    background-color: #e45d5d;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Mainbox {
    height: 400px;
    width: 600px;
    background-color: rgb(241, 168, 168);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#pmtimer {
    display: flex;
    position: absolute;
    margin-top: 80px;
    margin-left: 112px;
    font-size: 18px;
}

#Pomodoro {
    margin-left: 91px;
    font-weight: bold;
}

#shortbreak {
    margin-left: 97%;
    font-weight: bold;
}

#longbreak {
    margin-left: 150%;
    font-weight: bold;
}

#sbtimer {
    display: flex;
    position: absolute;
    margin-top: 80px;
    margin-left: 277px;
    font-size: 18px;
}

#start {
    top: 50%;
    position: absolute;
    left: 39%;
    height: 14.5%;
    width: 9%;
}

#reset {
    top: 50%;
    position: absolute;
    left: 50.5%;
}

#lbtimer {
    display: flex;
    position: absolute;
    margin-top: 80px;
    margin-left: 442px;
    font-size: 18px;
}

#Quote {
    top: 66%;
    position: absolute;
    left: 45%;
    font-weight: bold;
}

#cycle {
    margin-left: 280px;
    display: inline;
    position: absolute;
    top: 270px;
}