<html>

    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="../static/homepage.css">
        <link rel="stylesheet" href="../static/aboutUs.css">
    
    </head>
    
    <body style=background-color:#EDC7B7;>
        <br>
        <section class="pictures">
            <div class="container">
            <h1 class="heading"><span>meet</span>Our Team</h1>
                <div class="profiles">
    
                <div class="profile">
                    <img src="../Images/Himanshi.png" class="profile-img">
                    <h3 class="name">Himanshi Sethi</h3>
                    <div class="descp">
                    <h5>Student IIITD</h5>
                    <p>She/Her</p>
                    </div>
                </div>
    
                <div class="profile">
                    <img src="../Images/Srishti.png" class="profile-img">
                    <h3 class="name">Srishti Jain</h3>
                    <div class="descp">
                    <h5>Student IIITD</h5>
                    <p>She/Her</p>
                    </div>
                </div>
    
                <div class="profile">
                    <img src="../Images/Siya.png" class="profile-img">
                    <h3 class="name">Siya Garg</h3>
                    <div class="descp">
                    <h5>Student IIITD</h5>
                    <p>She/Her</p>
                    </div>
                </div>
    
                </div>
            </div>
        </section>
        <div class="footer">
            <p class="footer-text-left">
                <a href="home" class="menu">Home </a>
                <a href="aboutus" class="menu">About_Us</a>
                <a href="privacy" class="menu">Privacy_Policy</a>
        </div>
        </p>
    </body>
    
    </body>
    
    </html>