<html>

<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="homepage.css">

    <header> <img src='images\bg-img.png' id="header"> </header>
</head>

<body style=background-color:#EDC7B7;>
    <br>
    <div class="one"><a href=chatbot.html><img src="images\bot.png" ></a></div>
    <div class="two"><a href=todoList.html><img src="images\todo.png" ></a></div>
    <div class="three"><a href=index.html><img src="images\timer.png" ></a></div>
    <div class="four"><a href=performance.html><img src="images\performance.png" ></a></div>

  <!-- <div class="three">
  <div class="four"><a href=bookstore.html><img src=pbpb.png height=100% width=100%></a></div>
  <div class="five">
  <div class="four"><a href=popbop.html><img src=pbp.png height=100% width=100%></a></div> -->
  <!-- </div> -->
    <div class="footer">
        <p class="footer-text-left">
            <a href="" class="menu">Home &nbsp;</a>
            <a href="aboutus" class="menu">About Us &nbsp;</a>
            <a href="privacy" class="menu">Privacy Policy</a>
    </div>
    </p>
</body>

</body>

</html>