<!DOCTYPE html>
<html>
<head>
<title>Privacy Policy</title>
<style>
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
.footer {
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 70px;
  background-color:black;
  opacity: 0.3;
  color: white;
}


.footer-text-left {
  font-size:25px;
  padding-left:40px;
  float: left;
  word-spacing: 12px;
}

a.menu:hover {
  background-color:black;
  font-size:20px;
}
</style>
</head>
<header> <img src=6.png> </header>
<body  style=background-color:#5a716f;>
<hr>
<h2 style=font-size:28px;background-color:white;><b><u>The Calypso Cauldron: Privacy Policy</u></b></h2>
</hr>
<p>Note: Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this Privacy Policy Page periodically.</p>
<p>By visiting this Website you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree please do not use or access our Website.</p>
<p>By mere use of the Website, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the Terms of Use.</p>
<h3 style=font-size:19px;background-color:#fff9c7;><b>What personal information do we collect from the people that visit our blog, website or app?</b></h3>
<p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, receiver name, delivery address, billing address, phone number or other details to help you with your experience.</p>
<h4 style=font-size:19px;background-color:#fff9c7;><b>How do we use your information?</b></h4>
<p><i><u>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</u></i></p>
<ul>
<li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
<li>To improve our website in order to better serve you.</li>
<li>To allow us to better service you in responding to your customer service requests.</li>
<li>To administer a contest, promotion, survey or other site feature.</li>
<li>To quickly process your transactions.</li>
<li>To ask for ratings and reviews of services or products.</li>
<li>To follow up with them after correspondence (live chat, email or phone inquiries)</li>
<li>To send transnational and promotional messages on your registered phone number.</li>
</ul>
<h5 style=font-size:19px;background-color:#fff9c7;><b>How do we protect your information?</b></h5>
<p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.</p>
<p>We use regular Malware Scanning.</p>
<p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.
We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</p>
<p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
<h6 style="font-size:19px"><b>We collect your email address in order to:</b></h6>
<ul>
<li>Send information, respond to inquiries, and/or other requests or questions.</li>
<li>Process orders and to send information and updates pertaining to orders.</li>
<li>Send you additional information related to your product and/or service.</li>
<li>Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.</li>
<li>We also allow users to unsubscribe by using the link at the bottom of each email.If at any time you would like to unsubscribe from receiving future emails, you can email us at care@thecalypsocauldron.com</li>
</ul>
<h7 style=font-size:19px;background-color:#fff9c7;><b>Contacting Us</b></h7>
<p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
<p>1st Floor M-14, Old DLF Colony, Sector 14</p>
<p>Gurgaon (HARYANA)</p>
<p>Call US : +91-8882553333</p>

<div class="footer">
<p class="footer-text-left">
  <a href="home" class="menu">Home </a>
  <a href="aboutus" class="menu">About_Us</a>
  <a href="privacy" class="menu">Privacy_Policy</a>
</div>
  </p>
</div>


</body>
</html>
