<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/todo.css">
    <title>To Do List</title>
</head>
<body>
    <h1 style="text-align:center">My Planner</h1>
    <h2>To Do &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Doing &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;        Deadlines                  </h2>
    <div class ="main">
        <div class="ToDo"> 
        <input id="do" type="text"><button id="add">+</button> 
        <div class="some" id="todobox">
        </div>
        <div class="ToDoo">
            <input id="doin" type="text"><button id="add2">+</button> 
            <div class="some" id="doingbox">
            </div>
            <div class="ToDooo"> <input id="done" type="text"><button id="add3">+</button>
                <div class="some" id="donebox">
                </div>
    
    
</div>
   
</div>
    <script src="static/todo.js"></script>
    
</body>
</html>